<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="padd-title-header linkText" (click)="isProcessCardExpanded = !isProcessCardExpanded">
          Можливі рішення для знайдених помилок
          <span *ngIf="countOffers.length > 0" [matBadge]="countOffers.length" class="matBadg"></span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content [style.display]="isProcessCardExpanded ? 'none' : 'block'">
      offer          
    </mat-card-content> 
</mat-card>