
<mat-card class="example-card">
    <!-- <mat-card-header class="header-toolbox">       
        <div class="action-button">
            <button mat-stroked-button matTooltip="Встановити відповідь">
                Встановити відповідь
            </button>
            <button mat-stroked-button  matTooltip="Встановити відповідь">
                Встановити статус
            </button>
        </div>
    </mat-card-header> -->
    <mat-card-content >
      <app-error-table></app-error-table>
    </mat-card-content>
</mat-card>