<h1 mat-dialog-title>Розширити фільтр запиту</h1>
<div mat-dialog-content>
	<div class="query-block">
		<div class="query-tree">
			<p>Властивості JSON об'єкта</p>
			<div class="tree-block">			
				<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
				<mat-tree-node
					*matTreeNodeDef="let node"
					matTreeNodeToggle
					matTreeNodePadding>
					<button mat-icon-button disabled></button>
						<mat-checkbox
							class="checklist-leaf-node"
							[checked]="checklistSelection.isSelected(node)"
							(change)="todoLeafItemSelectionToggle(node)"
							>{{ node.item }}
						</mat-checkbox>
				</mat-tree-node>
		
				<mat-tree-node
					*matTreeNodeDef="let node; when: hasChild"
					matTreeNodePadding>
				<button
					mat-icon-button
					matTreeNodeToggle
					[attr.aria-label]="'Toggle ' + node.item">
					<mat-icon class="mat-icon-rtl-mirror">
						{{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
					</mat-icon>
					</button>
				<mat-checkbox
						[checked]="descendantsAllSelected(node)"
						[indeterminate]="descendantsPartiallySelected(node)"
						(change)="todoItemSelectionToggle(node)">
						{{ node.item }}
					</mat-checkbox>
				</mat-tree-node>
				</mat-tree>
			</div>
		</div>
		<div class="query-settings">
			<p>Налаштування нових запитів</p>
			<div class="new-query-settings">
				<ul>
					<li *ngFor="let item of queriesToSettins">
						{{item.queryPath}} : 
						<mat-form-field class="example-form-field">
							<mat-label>Назва</mat-label>
							<input matInput type="text" [(ngModel)]="item.name" required>
						</mat-form-field>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
<div mat-dialog-actions align="end">
	<button mat-button (click)="onNoClick()">Відміна</button>
	<button mat-button [mat-dialog-close]="queriesToSettins" cdkFocusInitial [disabled]="isNotValidSettings">
		Додати
	</button>
</div>
